fieldset
{
	width:300px;
}
input[type=text] {
	background-color:aqua;
	color:green;
}
input[type=checkbox] {
	color:red;
}
.EULA {
	overflow:scroll;
	width:500px;
	height:300px;
	border:solid 1px;

	font-family:Arial;
	font-size:12px;
	text-align:justify;
	padding-right:20px;
}