
.digit {
    background-color: blue;
    font-size: 48px;
    width:85px;
    text-align:center;
}
.decimal {
    background-color: limegreen;
    font-size: 48px;
    width: 300px;
    text-align: right;
}